<table class="table table-striped">
  <thead>
  <tr>
    <th style="text-align:center">time</th>
    <th style="text-align:center">Temp C</th>
    <th style="text-align:center">Temp F</th>
    <th style="text-align:center">Humidity</th>
    <th style="text-align:center">Pressure</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of data | async">
    <td style="text-align:center">{{row.timestamp}}</td>
    <td style="text-align:center">{{row.tempC}}</td>
    <td style="text-align:center">{{row.tempF}}</td>
    <td style="text-align:center">{{row.humidity}}</td>
    <td style="text-align:center">{{row.pressure}}</td>
  </tr>
  </tbody>
</table>
