[
 {rabbit, [
    {ssl_options, [
        {cacertfile,"/etc/rabbitmq/rootCA.crt"},
        {certfile,  "/etc/rabbitmq/rabbitmq.crt"},
        {keyfile,   "/etc/rabbitmq/rabbitmq.key"},
	    {password,
            {encrypted,<<"k+DHNIqe3Ell800DpmcmCQ8+RJCx1QDlp9tXsDdVdfo/zpNz4g==">>}
		},
		{verify, verify_peer},
		{fail_if_no_peer_cert, true}
    ]},
	{config_entry_decoder, [
        {passphrase, {file, "/etc/rabbitmq/passphrase"}},
        {cipher, blowfish_cfb64},
        {hash, sha256},
        {iterations, 10000}
    ]}
 ]}
].

